.new-order-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-color);
}

.new-order-form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;

  input, select {
    background: var(--input-background-color);
    padding: 5px 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    outline: none;
    color: var(--text-color);
    font-weight: 600;
  }

  .profit {
    align-self: center;
  }

  .alert {
    color: var(--text-alert-color);
    font-size: 12px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  background: var(--button-color);
  margin-right: 20px;
  -webkit-box-shadow: 0 17px 24px -22px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 17px 24px -22px rgba(66, 68, 90, 1);
  box-shadow: 0 17px 24px -22px rgba(66, 68, 90, 1);
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
  transition: 0.2s ease-in-out background-color;
}

button:hover {
  background: var(--button-color--hover);
}

button:disabled {
  background: var(--button-color--disabled);
}
