table {
  border-collapse: collapse;
  color: var(--text-color);
}

thead {
  background-color: var(--row-background-color--hover);

  th {
    padding: 5px;
    text-align: left;
  }

  .table-header__symbol {
    min-width: 120px;
  }

  .table-header__id {
    min-width: 120px;
  }

  .table-header__side {
    min-width: 70px;
  }

  .table-header__size {
    min-width: 150px;
  }

  .table-header__time {
    min-width: 160px;
  }

  .table-header__open-price {
    min-width: 110px;
  }

  .table-header__swap {
    min-width: 120px;
  }

  .table-header__profit {
    min-width: 120px;
  }

  .table-header__cancel {
    min-width: 50px;
  }
}

tbody {
  background-color: var(--row-background-color);

  td {
    padding: 5px;
  }

  .table-row__header {
    cursor: pointer;
  }

  .chevron, .close-transaction, .close-group {
    color: var(--chevron-color);
    cursor: pointer;
  }

  .close-transaction {
    font-size: 16px;
  }

  .transaction-symbol-container {
    display: flex;
    justify-content: flex-start;
  }

  .transaction-symbol {
    width: 110px;
  }

  .transaction-counter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
  }

  .transaction-counter {
    padding: 5px 10px;
    border-radius: 50%;
    background: var(--counter-background-color);
    font-size: 14px;
  }
}

tbody tr:hover {
  background-color: var(--row-background-color--hover);
}
