.new-order-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 112px);
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
  background: var(--main-backgroud-color);
}
